<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./style/index.css">
	<link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
	<script src="./script/index.js" defer></script>
	<title>Document</title>
</head>

<body>
	<section>
		<div class="alert-wrapper" id="alert">
		</div>
		<form action="" autocomplete="off" onsubmit="return false">
			<p>
				<label for="password">New Password</label>
				<input type="password" name="password" id="input" placeholder='New password' autofocus=true required
					autocomplete="password">
			</p>
			<p>
				<label for="confirm">Confirm Password</label>
				<input type="password" name="confirm" id="second-input" placeholder='Confirm password' autofocus=false
					required autocomplete="password">
			</p>
			<p><button id="send-btn">Send</button></p>
		</form>
	</section>
</body>

</html>
