<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style/index.css">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <title>Expired</title>
</head>
<body>
  <section>
    <p>Sorry!</p>
    <p>User not Found or link has expired</p>
  </section>
</body>
</html>
