* {
  font-family: 'Thasadith', sans-serif;
}

html, body, section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('/views/reset/images/background.png') */
  background: linear-gradient(-45deg, #66d2d5, #5bbdd7)
}

form {
  width: 420px;
}

form p {
  text-align: right;
}

label {
  font-size: 22px;
  color: aliceblue;
}

input {
  height: 28px;
  width: 240px;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 18px;
  border: 0px;
  border-radius: 4px;
}

input:placeholder-shown {
  padding: 0 5px;
}

button {
  height: 30px;
  width: 100px;
  font-size: 18px;
  color: white;
  border: 0px;
  border-radius: 4px;
  background: #2a5b85;
}

.alert-wrapper {
  height: 90px;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-wrapper p {
  font-size: 20px;
  text-align: center;
  color: white;
}

.alert-fail {
  background: red;
  border: 0px;
  border-radius: 6px;
}

.alert-success {
  background: #46ddab;
  border: 0px;
  border-radius: 6px;
}
